<!DOCTYPE html>
<html>
  <head>
    <title>Netflix</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body class="hero_image">
    <top>
      <ul>
        <li class="netflix_logo left">NETFLIX</li>
        <li class="button_signin right">Sign In</li>
      </ul>
    </top>
    <div>
      <ul>
        <li><p onclick="www.netflix.com" class="h1 left">See what’s next.</p></li>
        <li><p class="h3 left">WATCH ANYWHERE. CANCEL ANYTIME.</p></li>
        <li class="button_join left">JOIN FREE FOR A MONTH</li>
      </ul>
    </div>
  </body>
</html>
